/*
Elementos que incluyen un post
*/

.elementos_post
	clear both
	display block
	margin 0
	padding 0
	border-top 1px solid $silver
	text-align center
	li
		background $nube
		display inline-block
		margin 2px
		padding 0.5em
		a
			color $Celeste
			&:hover
			&:focus
				color $google
		
		a, span
			display inline-block
			
