/*
Vidriera
1. Aparecen en la home
2. Tiene un ícono grande una imagen relacionada a su función.
3. Tiene un título y un par de renglones.
4. Típico para mostrar servicios del negocio.
*/

// Variables a usar
$fondo_vidiera			?= $silver
$color_borde_vidiera	?= $silver


.Vidriera-2
	text-align center
	&--estante
		border 1px solid $fondo_vidiera
		border-radius 0.5em
		box-shadow 0px 0px 99px $nube inset
		display inline-block
		margin-top 3em
		max-width 17em

		.imagen
			border-bottom 1px solid $color_borde_vidiera
			box-sizing border-box
			display block
			margin -3em auto auto auto
			padding 1em
			position relative
			img
				border-radius 50%
				display block
				width 100%

	
		.contenido
			color $gris_fuerte
			padding 1em
			h2, h3, h4, h5, h6
				color $Celeste
				
@media only screen and (min-width:30em)
	.Vidriera-2
		&--estante
			margin 3em 0.2em 0.2em 0.2em