// Los bloques de mensajes de alerta

// Formato general
.alerta
	border-radius 0.2em
	padding 0.6em 1em
	


	// Precaución
	&-rojo
		background $ladrillo
		border-color $google
	
	// Información
	&-azul
		background $Celeste
		border-color $asfalto
	
	// Atención
	&-amarillo
		background $amarillo
		border-color $naranja_suave
	
	// Todo ok
	&-verde
		background $VerdeClarito
		border-color $neferteris