// Citas y los bloques

blockquote
cite
	box-sizing border-box
	color $gris_fuerte
	font-size 1.2em
	font-style italic 
	position relative
	text-align right

blockquote
	border 1px dashed $silver
	border-left 3px solid $Celeste
	padding-left 1em
	padding-right 1em
	margin-right 0
	&:before
		color $Celeste
		content "\f063"
		font-family "icon"
		font-size 2em
		font-style normal
		left -1em
		position absolute
		top -0.3em	

cite
	color $VerdeClaro
	&:after
	&:before
		color $VerdeClarito
		font-family "icon"
		font-size 1em
		font-style normal
	&:after
		content "\e605"
		padding-left 0.5em
	&:before
		content "\e604"
		padding-right 0.5em