// Paginación. Estilos

.pagination
	// font-family $baseHeadingFontFamily
	color $gris_fuerte
	padding 1em
	margin 0.5em auto
	text-align center
	span
		color $Celeste
		display inline-block
		margin 0.2em
		padding 0.2em 0.7em
		&:first-child
			&:after
				content " :"
		
	.current
		color $gris_fuerte
		font-weight bolder
